# Exemplo de configuração de variáveis de ambiente.
# NÃO coloque chaves reais aqui. Configure-as no dashboard do seu projeto.
VITE_GOOGLE_MAPS_API_KEY=
# Integração com seu Supabase Interno
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=sua_anon_key_do_supabase_aqui